.mercurio {
    color: #808080;
}

.venus {
    color: #ff0000;
}

.tierra {
    color: yellow;
}
.marte {
    color: #3dbe12;
}
.jupiter {
    color: #0dffe7;
}
.saturno {
    color: #07435f;
}
.urano {
    color: #005eff;
}
.neptuno {
    color: #ee00ff;
}
.pluton {
    color: #fd00a0;
}
